<div>

  <h1>Ahora logueate</h1>

  <form id="loginForm">

    <label>Email</label>

    <input name="email" />

    <label>Contraseña</label>

    <input type="password" name="password" />

    <input type="submit" />

  </form>

</div>
<p>Tambien puedes ingresar por:</p>
<a href="api/sessions/github"><button>Github</button></a>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
<script src="/js/login.js"></script>