<!-- multistep form -->
<div class="forms">
<form id="msform" >
  <fieldset>
    <h2 class="fs-title">AddProduct</h2>
    <input type="text" name="title" placeholder="Title" id="addTitle"/>
    <input type="text" name="description" placeholder="Description" id="addDescription"/>
    <input type="number" name="price" placeholder="Price" id="addPrice"  />
    <input type="number" name="stock" placeholder="Stock" id="addStock" />
    <input type="text" name="code" placeholder="Code" id="addCode"/>
    <input type="text" name="status" placeholder="Status--- true o false"  id="addStatus"/>
    <input type="text" name="category" placeholder="Category" id="addCategory"/>
     <input type="text" name="thumbnails" placeholder="Thumbnails" id="addThumbnails"/>
    <input type= "submit" id= "Submit-addProduct" class="next action-button" />
  </fieldset>
</form>

<form id="msform2" >
  <fieldset>
    <h2 class="fs-title">Delete Product By ID</h2>
    <input type="number" name="id" placeholder="ID PRODUCT" id="id"  /> 
    <input type="submit" id= "Submit-deleteProduct" class="next action-button" />
  </fieldset>
</form>
</div>



<div class="grid-row" id="grid">



</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>