<div>
    <h1 style="color: red; text-align:center">Restaurar tu contraseña</h1>
    <br/>
    <div style="text-align: center;">
        <img src="cid:banner">
    </div>
    <h2>Este correo te permitirá colocar una nueva contraseña para tu cuenta </h2>
    <p>La nueva contraseña que ingrese debe ser diferente de la actual</p>
    <button> <a href="http://localhost:8080/restorePassword?token={{restoreToken}}">Restablecer constraseña aquí</a> </button>
</div>