<!DOCTYPE html>   {{!-- esta plantilla se crea escribiendo "hbs" --}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel = "stylesheet" href="/css/{{css}}.css"> 
</head>
    <body>
                        {{!-- la carpeta layouts solo tiene que contener main.handlebars --}}
        {{{body}}}

    </body>
</html>